<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Todo List</h2>
    <form method="POST" action="/">
      {%csrf_token %}
      {{form}}
      <input type="submit" value="Add">
    </form>
    <table>
      <thead colspan="12">
        <th colspan="12">Task</th>
        <th colspan="11">Status</th>
        <th>Action</th>
      </thead>
      <tbody>
        {% for task in tasks %}
      
        <tr rowspan="4">
        <td>{{ task.task }}</td>
        <td>{{ task.completed }}</td>
        <td><a href="{% url 'update' task.id %}"<p>Edit</p></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </body>
</html>
